@import 'variables.css';
@import 'normalize.css';

body {
    background-color: var(--grey);
    font-family: var(--bodyFont);
}

.headerLogo {
    position: absolute;
    top: var(--spacing-5xl);
    left: var(--spacing-5xl);
}

.searchSection {
    background-image: url(../assets/img/Header-img.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.headerTitle {
    font-size: var(--titleFontSize);
    font-family: var(--titleFont);
    font-weight: var(--regular);
    text-transform: uppercase;
    color: var(--yellow);
    text-align: center;
    margin: var(--titleMargin);
    line-height: var(--titleLineHeight);
}

.headerInput {
    padding: var(--spacing-xl) var(--spacing-2xl);
    width: 50%;
}

.inputElement {
    font-size: var(--spacing-md);
    border: none;
    border-radius: var(--lightRadius);
}

.headerInput::placeholder {
    color: var(--lightgray);
}

.headerInput:focus {
    outline: none;
}

.recipeSection {
    margin: var(--spacing-xl) var(--spacing-body);
}

.recipeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:var(--spacing-lg) ;
}

.filterResult{
    font-size: var(--subtitleFontSize);
    font-family: var(--titleFont);
    font-weight: var(--regular);

}

.recipeFilter {
    display: flex;
    gap: var(--spacing-6xl);
}

.recipeSelectFilter {
    padding: var(--spacing-md);
}

.recipeGrid {
    margin: var(--spacing-3xl) 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--spacing-4xl);
    grid-row-gap: var(--spacing-6xl);
}

.recipeCard {
    border-radius: var(--boldRadius);
    background-color: var(--white);
    position: relative;
}

.recipeCardImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: var(--boldRadius) var(--boldRadius) 0 0;
}

.recipeCardContent {
    padding: var(--spacing-2xl) var(--spacing-xl) var(--spacing-6xl) var(--spacing-xl);
    font-size: var(--bodyCardFontSize);
}

.recipeCardTitle {
    font-family: var(--titleFont);
    font-size: var(--titleCardFontSize);
    font-weight: var(--regular);
    line-height: var(--titleCardLineHeight);
}

.recipeCardDetailsTitle {
    font-size: var(--subtitleCardFontSize);
    font-weight: var(--bold);
    color: var(--lightgray);
    text-transform: uppercase;
    margin-top: var(--spacing-2xl);
}

.recipeCardDetailsSteps {
    margin-top: var(--spacing-md);
}

.recipeCardDetailsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-lg);
    margin-top: var(--spacing-md);
}

.recipeCardIngredientsQuantity {
    color: var(--lightgray);
}

.recipeDuration {
    position: absolute;
    top: var(--spacing-xl);
    right: var(--spacing-xl);
    background-color: var(--yellow);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--boldRadius);
}

.dropdown-container {
    display: flex;
    gap: var(--spacing-6xl);
}

.dropdown {
    position: relative;
    border-radius: var(--lightRadius);
    background-color: var(--white);
}

.dropdown-button {
    background-color: white;
    padding: var(--spacing-sm) var(--spacing-lg);
    border: none;
    cursor: pointer;
    border-radius: var(--lightRadius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: var(--filterWidth);
}

.dropdown-button:focus {
    outline: none;
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    z-index: 1;
    list-style: none;
    width: 100%;
    border-radius: var(--lightRadius);
    top: 110%;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropdown-search-container{
    position: relative;
    color: var(--lightgray);
    
}

.dropdown-search{
    margin: var(--spacing-md);
    padding: var(--spacing-xs) var(--spacing-4xl) var(--spacing-xs) var(--spacing-xs);
    width: calc(100% - var(--spacing-md) * 2);
    border-radius: 2px;
    border: solid 1px var(--lightgray);
    color: var(--lightgray);
}

.dropdown-search:focus {
    outline: none;
}

.dropdown-search-icon{
    position: absolute;
    right: var(--spacing-xl);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
}

.clear-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--lightgray);
    font-weight: var(--lightbold);
    font-size: var(--subtitleFontSize);
}

.dropdown-menu::-webkit-scrollbar {
    border-radius: var(--lightRadius);
    width: 10px;
}

.dropdown-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: var(--lightRadius);
    width: 10px;
  }

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: var(--lightRadius);
    height: 40px;
    
}

.dropdown-menu.hidden {
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    padding: var(--spacing-sm) var(--spacing-lg);
    cursor: pointer;
    text-transform: capitalize;
}

.dropdown-item:hover {
    background-color: var(--yellow);
}


.selected-items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
}

.selected-item {
    background-color: var(--yellow);
    padding: var(--spacing-md);
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-sm);
    font-weight: var(--lightbold);
    border-radius: var(--lightRadius);
}

.selected-item .remove-btn {
    background: none;
    border: none;
    font-weight: var(--regular);
    cursor: pointer;
    font-size: var(--subtitleFontSize);
}

.dropdown .filter-tag{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
}

.dropdown .filter-tag-items{
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius:0%;
}

.remove-btn.hidden {
    display: none;
}

.selected{
    background-color: var(--yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected .remove-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-weight: var(--lightbold);
    font-size: var(--subtitleFontSize);
}